<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user_mapper">
	
<!-- 	<insert id="saveUser" parameterType="User"> -->
<!-- 		insert into t_user -->
<!-- 		(id, name, user_type) -->
<!-- 		values ( -->
<!-- 			#{id}, -->
<!-- 			#{name}, -->
<!-- 			'CUS' -->
<!-- 		) -->
<!-- 	</insert> -->

	<insert id="saveUser" parameterType="User">
		insert into T_USER
		values (
			#{id},
			#{pw},
			#{name},
			#{userType}
		)
	</insert>
	
	<select id="findUserList" resultType="User">
		SELECT *
		FROM T_USER
	</select>
	
	<select id="findUserById" resultType="User" parameterType="String">
		SELECT *
		FROM T_USER
		WHERE id = #{id}
	</select>
	
	<select id="checkUserLogin" resultType="User" parameterType="User">
		SELECT *
		FROM T_USER
		WHERE id = #{id}
		AND pw = #{pw}
		AND user_type = #{userType}
	</select>

</mapper>